<div id="pokemon<%= number %>">
  <form id="add_btn_form" method="POST">
  <select name="pokemon">
    <option selected disabled>Pokemon <%= number %></option>
    <% @pokemon.each do |mon| %>
    <option value="<%= mon.id %>"><%= mon.name %></option>
    <% end %>
  </select>

<div id="add_btn">
    <input type="submit" value="Save">
  </form>
</div>

</div>