<div id="select_new_team">
<form method="POST">
  <% 6.times do |i| %>
    <%= erb :'team/_select_menu', locals: {number: i + 1} %>
  <% end %>
  <input type="submit" value="Create team">
</form>
</div>