<div id="select_new_team">
<form id="create_new_team" method="POST" action="/teams/new">
  <% 6.times do |i| %>
    <%= erb :'team/_select_menu', locals: {number: i + 1} %>
  <% end %>
  <input id="create_new_team_btn" type="submit" value="Create team">
</form><br>
</div>