<div id="login">
 <form methos="POST">
  Email: <input type="text" name="email"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Log In">
 </form>
</div>

<div id="signup">
  Not a member? Become one by clicking <a href="/signup">here</a>.
</div>