<div id="menu">

  <a href="/teams"><h3>See my teams</h3></a>
  <a href="/teams/new"><h3>Build new team</h3></a>
  <a href="/pokemons"><h3>See all pokemon</h3></a>

</div>

<div id="logout">
  <a href="/logout">Logout</a>
</div>