<div id="menu">

  <!-- <a href="/teams"><h3>See my teams</h3></a> -->
  <h3><a href="/pokemons">See all pokemon</a></h3>
  <h3><a id="new_team_btn" href="/teams/new">Build new team</a></h3>
</div>
<br>
<div id="main_teams">
<h3>Your teams:</h3>
<%= erb :'team/teams' %>
</div>
<div id="logout">
  <a href="/logout">Logout</a>
</div>